# Copyright (c) 2025 G3rtz
# SPDX-License-Identifier: MIT

# 72MHz system clock
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=72000000

CONFIG_PINCTRL=y

# enable GPIO
CONFIG_GPIO=y

# clock configuration
CONFIG_CLOCK_CONTROL=y

# USB
CONFIG_ZMK_USB=y

# Mark this board target as explicitly ZMK-compatible (Zephyr 4.1 check)
CONFIG_ZMK_BOARD_COMPAT=y

# Encoder
CONFIG_EC11=y
CONFIG_EC11_TRIGGER_GLOBAL_THREAD=y

# NKRO
CONFIG_ZMK_HID_REPORT_TYPE_NKRO=y

# Flash/NVS
CONFIG_FLASH=y
CONFIG_FLASH_MAP=y
CONFIG_NVS=y
CONFIG_SETTINGS_NVS=y
