# Copyright (c) 2025 G3rtz
# SPDX-License-Identifier: MIT

if BOARD_GMMK_PRO || BOARD_GMMK_PRO_STM32F303XC_ZMK

config ZMK_KEYBOARD_NAME
    default "GMMK Pro"

config ZMK_KSCAN_MATRIX_POLLING
    default y

endif # BOARD_GMMK_PRO || BOARD_GMMK_PRO_STM32F303XC_ZMK
