# Copyright (c) 2025 G3rtz
# SPDX-License-Identifier: MIT

config BOARD_GMMK_PRO
    select SOC_STM32F303XC
    select ZMK_BOARD_COMPAT

config BOARD_GMMK_PRO_STM32F303XC_ZMK
    select ZMK_BOARD_COMPAT
