/*
 * Minimale Peripheral-Keymap für GMMK Pro (Split-Rolle)
 * Der STM32 verarbeitet keine Keymap – sie muss nur kompilieren.
 * Volle Keymap lebt auf dem nice!nano Central (config/nice_nano_v2.keymap).
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans        &trans
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans                                    &trans &trans &trans &trans &trans &trans
            >;
        };
    };
};
