/*
 * DTS-Overlay für nice!nano v2 als Split Central
 * Nutzt pro_micro_serial (= UART mit vorkonfigurierten Pin-Belegungen
 * auf P0.06 TX / P0.08 RX – die D0/D1 Pro-Micro-Pins des nice!nano).
 */

&pro_micro_serial {
    current-speed = <115200>;
    status = "okay";
};

/ {
    wired_split: wired_split {
        compatible = "zmk,wired-split";
        device = <&pro_micro_serial>;
    };
};
